@tailwind base;
@tailwind components;
@tailwind utilities;

.w-500{
    width:500px;
}

.h-500{
    max-height: 500px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .selected{
    position: absolute;
    left: 0;
  }